<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>HOME</title>
	</head>
	<body>
		<nav>
			<nav>
				<div class="left">
					<a href="/">Moneymagnet Hub</a>
					<a href="/">Home</a>
					<a href="/add">New stock</a>
				</div>
				<div class="right">
					<a href="/add">Login</a>
			</nav>
				</div>
		</nav>
		<div class="header">
			<h1>Moneymagnet Hub</h1>
			<p>
				Moneymagnet Hub adalah platform keuangan inovatif yang menyediakan
				solusi terintegrasi untuk manajemen portofolio, transaksi, dan
				pemantauan investasi. Dengan desain yang intuitif dan fitur-fitur
				canggih, Moneymagnet Hub membantu pengguna mengoptimalkan keuangan
				mereka dengan mudah.
			</p>
		</div>
		<div>
			<h2>MarketCap</h2>
			<p>CurrentPrice X 100 = Ex: Rp. xxx /100 Lembar</p>
		</div>
		<div>
			<table border="1">
				<thead>
					<tr>
						<th>Stocks</th>
						<th>Companies</th>
						<th>Current Price</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% stocks.forEach(each => { %>
					<tr>
						<td><%= each.stockAbbrevation %></td>
						<td><%= each.companyName %></td>
						<td><%= each.currentPrice %></td>
						<td>
							<form action="/stocks/<%= each.id %>" method="get">
								<button type="submit">Show Details</button>
							</form>
						</td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</body>
</html>
